# Ignore Maven build directories
**/target/

# Ignore log files
**/*.log
**/app.log

# IDE settings
**/.idea/
**/.vscode/
**/*.iml

# OS and system files
.DS_Store
Thumbs.db

# Temp / Scratch files
scratch/
example_2_2.txt
example_pdf_pages.txt

